<launch>
    <node name="turtlesim" pkg="turtlesim" type="turtlesim_node" >
        <remap from="/turtle1/cmd_vel" to="/my_turtle/cmd_vel" />
        <remap from="/turtle1/pose" to="/my_turtle/pose" />
    </node>
    <node name="teleop" pkg="turtlesim" type="turtle_teleop_key" >
        <remap from="/turtle1/cmd_vel" to="/my_turtle/cmd_vel" />
    </node>
    <node name="canvas" pkg="turtle_canvas_color" type="change_color.py">
        <remap from="/turtle1/pose" to="/my_turtle/pose" />
    </node>
</launch>